/* Add a background color to the header element */
/* Align the h1 containing your name in the center of the header*/

header {
    background-color: green;
    color: White;
    text-align: center;
}
/* Add a fun background color to the main element */
main{
    background-color: lightyellow;
    color:blue;
    font-family: helvetica;
    text-align: center;
}

ul{
    text-align: center;
    list-style-position: inside;
}

/* Make your p tag a different color and italic */

/* Put a border around your image */
.main-image{
    width:200px;
    height:auto;
    border: 10px solid grey;
    margin: 10px;
}
/* Change the font-family of your list */

/* Add a background color to the footer element */
footer{
    background-color: black;
    
}

footer p{
    color:white;
    text-align: center;
    font-style: italic;
    
}